@define-color nord_4 #d8dee9; /* text */
@define-color nord_9 #81a1c1; /* blue */

* {
    font-family: "JetBrainsMono";
    font-size: 13px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: #000000;
    border-bottom: none;
}

#workspaces button {
    padding: 0 5px;
    color: @nord_4;
    background: transparent;
}

#workspaces button.active,
#workspaces button.focused {
    color: @nord_9;
    font-weight: bold;
}

#window {
    color: @nord_4;
    font-weight: bold;
    padding: 0 10px;
}

#pulseaudio {
    color: @nord_4;
    padding: 0 10px;
}

#clock {
    color: @nord_4;
    padding: 0 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #clock {
    padding-right: 5px;
}
