/**
 *
 * Author : vmp102
 *
 * Colors
 **/

* {
    background:     #000000FF;
    background-alt: #0D1117FF;
    foreground:     #C9D1D9FF;
    selected:       #58A6FFFF;
    active:         #3FB950FF;
    urgent:         #FF7B72FF;
}
